.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

}

.nav-bar-link {
  color: white;
  padding-left: 22px
}
.App-header, p {

}

.App-link {
  color: #61dafb;
}


.App-body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.desing {
  border: solid 5px black;
  
}
